html,
body {
	background: black;
}

a {
	color: white;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	text-decoration: none;
}

a:after {
	content: "";
	height: 1px;
	background: white;
	position: absolute;
	pointer-events: none;
	bottom: -5px;
	left: 0;
	right: 0;
	opacity: 0;
	transform: scale(0, 1);
	transition: all 200ms;
}

a:hover:after {
	opacity: 1;
	transform: scale(1, 1);
}

.heading {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 3.5em;
	font-weight: 500;
	display: inline;
}

.heading input {
	max-width: 90%;
	min-width: 40%;
	font-size: 1em;
	text-align: center;
}

.heading h2 {
	font-size: 0.9em;
	padding-top: 0;
}

.heading h2 a {
	color: #50e3c2;
}

.center {
	text-align: center;
	font-size: 0.8em;
}

.left label {
	padding-right: 30px;
}

.container {
	padding-top: 15%;
	text-align: center;
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	
	-webkit-animation: fadein 2s;
	   -moz-animation: fadein 2s;
	    -ms-animation: fadein 2s;
	     -o-animation: fadein 2s;
	        animation: fadein 2s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.footer {
	color: #666;
	bottom: 20px;
	font-size: 14px;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.footer a {
	color: #666;
	margin: 0;
	transition: all 200ms;
}

.footer a:hover {
	color: white;
}

.left {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 30px;
}

.right {
	display: inline-block;
}

.right a {
	display: inline-block;
	margin-right: 30px;
}

.chat {
	display: inline-block;
}

.chat:after {
	content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #50e3c2;
    margin-left: 10px;
}

.chat a {
	margin-right: 0;
}

@media only screen and (max-width: 40em) {
	.left {
		display: block;
		margin-right: 0;
		margin-bottom: 0;
	}
	.right {
		display: block;
		margin-top: 0;
	}
	.right a:last-child {
		margin-right: 0;
	}
	.heading h2 {
		font-size: 0.6em;
	}
	input {
		font-size: 0.7em;
	}
}

pre {
	text-align: left;
}

.code {
	padding-top: 7%;
  	width: 40ex;
  	margin: 20px auto;
  	text-align: left;
}

.code > p {
  	text-align: center;
}

.code > p > a {
  	color: white;
}

.code > p > a:visited {
  	color: white;
}